<app-banner></app-banner>
<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/angular in 24.jfif" alt="blog1" /><p></p>
            <p></p>
            <p></p>
            <h3>Angular in 12 hour</h3>
            <p>by <span>Programming with Mosh</span> on <span>January 07, 2021</span></p>
            <p> Stop Wasting Your Time and Money at Universities!<br>All you need is passion and determination, not a degree. Universities make you pay for the subjects you'll never use in the real world.</p>
            <a href="https://www.youtube.com/watch?v=k5E2AVpwsko&t=234s" class="btn btn-danger">Go to with Mosh...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/w3school.png" alt="blog1" />
            <h3>AngularJS Tutorial</h3>
            <p>by <span>w3schools</span> on <span>January 07, 2021</span></p>
            <p>AngularJS is easy to learn. Start learning AngularJS now ». This Tutorial. This tutorial is specially designed to help you learn AngularJS as quickly and efficiently ... </p>
            <a href="https://www.w3schools.com/angular/" class="btn btn-danger">Go to Tutorial...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/codevolution.jpg" alt="blog1" />
            <h3>TUTORIALS</h3>
            <p>by <span>codevoltion</span> on <span>Nov 13, 2017</span></p>
            <p>Angular Authentication Tutorial for Beginners! </p>
            <a href="https://www.youtube.com/watch?v=0eWrpsCLMJQ" class="btn btn-danger">Go to playlist....</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/angular-universal_book3.jpg" alt="blog1" />
            <h3>ANGULAR UNIVERSAL</h3>
            <p>by <span>Philippe Martin</span> on <span>February 08, 2018</span></p>
            <p>Angular is a really powerful framework to create interactive applications and websites. If you want your application or website to be seen and used by a lot of people, you must make it visible in search engines. This book will give you all the tips and tricks to optimize your website for search engines. </p>
            <a href="https://leanpub.com/angular-universal" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/angular_basics_book2.jpg" alt="blog1" />
            <h3>ANGULAR BASICS</h3>
            <p>by <span>Chris Smith</span> on <span>January, 2015</span></p>
            <p>This is just a small book, inspired by other free, short, and friendly programming texts such as Alex MacCaw's The Little Book on CoffeeScript. </p>
            <a href="http://www.angularjsbook.com/angular-basics/chapters/" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/Angularbook1.png" alt="blog1" />
            <h3>ANGULAR SUCCINCTLY</h3>
            <p>by <span>Joseph D. Booth</span> on <span>January, 2019</span></p>
            <p>In Angular Succinctly, author Joseph D. Booth guides you through setting up a development environment, interacting with the Angular CLI, building Hello World, and more with the latest release, Angular 7. </p>
            <a href="https://www.syncfusion.com/ebooks/angular-succinctly/introduction" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
